* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: black;
    color: white;
}

#workspaces button {
    background: transparent;
    padding: 0 5px;
    color: white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background-color: #848484;
}

#workspaces button.urgent {
    color: #FF0000;
}

#clock, #battery {
    margin: 0 5px;
}

#clock {
    background: transparent;
    color: white;
}

#battery {
    background: transparent;
    border-bottom: 10px solid transparent;
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
